Repository senchabot-opensource/monorepo, pull requests merged in 2023-05, with the labels that each got.

#92 update(apps/twitch-bot): add old string templates
  apps/twitch-bot/internal/command/helpers/helpers.go
Labels: apps/twitch-bot

#98 fix(apps/twitch-bot): prevent command alias creation when command does not exist
  apps/twitch-bot/internal/command/addcommandalias.go
Labels: bug, apps/twitch-bot

#78 feat(apps/reflect): create command list
  apps/reflect/src/components/app/AppBar/buttons/CommandListButton.tsx
  apps/reflect/src/components/app/AppBar/index.tsx
  apps/reflect/src/components/app/BotActivity.tsx
  apps/reflect/src/components/app/CommandList.tsx
  apps/reflect/src/components/landing/LandingTexts.tsx
  apps/reflect/src/pages/app/command-list.tsx
  apps/reflect/src/server/router/command.ts
  apps/reflect/src/server/router/index.ts
  apps/reflect/src/types/index.ts
Labels: enhancement, apps/reflect

#99 chore(apps/reflect): remove unused snackbar lines
  apps/reflect/src/components/app/AppBar/index.tsx
  apps/reflect/src/components/app/AppContainer.tsx
  apps/reflect/src/pages/app/index.tsx
Labels: apps/reflect

#101 fix/((apps/reflect)): horizontal scrool
  apps/reflect/src/components/landing/LandingGrid.tsx
Labels: apps/reflect

#102 chore(apps/reflect): fix lint errors and warnings
  apps/reflect/src/components/CustomAlert.tsx
  apps/reflect/src/components/FormTitle.tsx
  apps/reflect/src/components/Tooltip.tsx
  apps/reflect/src/components/TypingEffect.tsx
  apps/reflect/src/components/app/AppContainer.tsx
  apps/reflect/src/components/app/AppSnackbar.tsx
  apps/reflect/src/components/app/CommandList.tsx
  apps/reflect/src/components/auth/AuthContainer.tsx
  apps/reflect/src/components/auth/LinkAccount.tsx
  apps/reflect/src/components/button/DeleteAccount.tsx
  apps/reflect/src/components/landing/LandingAppBar.tsx
  apps/reflect/src/components/landing/LandingFooter.tsx
  apps/reflect/src/components/landing/LandingTexts.tsx
  apps/reflect/src/components/tab/BotManagement/index.tsx
  apps/reflect/src/forms/PrivacyForm.tsx
  apps/reflect/src/forms/TwitchBotForm.tsx
  apps/reflect/src/pages/index.tsx
  apps/reflect/src/server/router/index.ts
  apps/reflect/src/server/router/protected-example-router.ts
  apps/reflect/src/types/index.ts
  apps/reflect/src/utils/trpc.ts
Labels: apps/reflect

#107 refactor(app/reflect): sign in & login components
  apps/reflect/src/components/app/AppContainer.tsx
  apps/reflect/src/components/auth/AuthContainer.tsx
  apps/reflect/src/components/auth/AuthLoginButton.tsx
Labels: apps/reflect

#106 feat(apps/reflect): disable save button when no change is made to the form
  apps/reflect/src/forms/TwitchBotForm.tsx
Labels: enhancement, apps/reflect

#109 update(apps/reflect):in landing page landing Text width
  apps/reflect/src/components/landing/LandingTexts.tsx
Labels: apps/reflect

#111 fix(apps/reflect): Blue Gap Error on Active Button in Landing Page App Bar Right
  apps/reflect/src/components/landing/LandingAppBar.tsx
Labels: apps/reflect

#110 feat(apps/reflect): AppDrawer
  apps/reflect/src/components/app/AppBar/buttons/CommandListButton.tsx
  apps/reflect/src/components/app/AppBar/buttons/DrawerButton.tsx
  apps/reflect/src/components/app/AppBar/index.tsx
  apps/reflect/src/components/app/AppDrawer.tsx
Labels: enhancement, apps/reflect

#113 fix(apps/reflect): if user clicked all command list menu item and path equal all command list page is reload
  apps/reflect/src/components/app/AppDrawer.tsx
Labels: apps/reflect

#112 fix(apps/reflect): Move setButtonEnabled to onSubmit
  apps/reflect/src/forms/TwitchBotForm.tsx
Labels: apps/reflect

#114 refactor(apps/reflect): rename BotManagement component to BotConfiguration
  apps/reflect/src/components/tab/BotConfiguration/index.tsx
  apps/reflect/src/components/tab/SettingTopTab.tsx
  apps/reflect/src/pages/app/settings.tsx
Labels: apps/reflect

#115 fix(apps/reflect): langingText responsive
  apps/reflect/src/components/landing/LandingTexts.tsx
Labels: apps/reflect

#118 refactor(apps/twitch-bot): change db driver to postgres
  apps/twitch-bot/cmd/main/main.go
  apps/twitch-bot/go.mod
  apps/twitch-bot/go.sum
  apps/twitch-bot/internal/backend/postgresql/postgresql.go
  apps/twitch-bot/internal/db/db.go
Labels: apps/twitch-bot

#119 fix(apps/twitch-bot): add command alias check when creating a command
  apps/twitch-bot/internal/backend/backend.go
  apps/twitch-bot/internal/backend/postgresql/postgresql.go
  apps/twitch-bot/internal/command/addcommand.go
  apps/twitch-bot/server/server.go
Labels: apps/twitch-bot

#116 chore(apps/reflect): add prisma seed
  apps/reflect/package.json
  apps/reflect/prisma/seed.ts
Labels: apps/reflect

#120 Add feature to enable/disable mods to manage custom commands
  apps/reflect/src/forms/TwitchBotForm.tsx
  apps/reflect/src/server/router/twitchbot.ts
  apps/reflect/src/types/index.ts
  apps/reflect/src/validation/twitchbotconfig.ts
  apps/twitch-bot/internal/command/addcommand.go
  apps/twitch-bot/internal/command/addcommandalias.go
  apps/twitch-bot/internal/command/deletecommand.go
  apps/twitch-bot/internal/command/deletecommandalias.go
  apps/twitch-bot/internal/command/helpers/helpers.go
  apps/twitch-bot/internal/command/updatecommand.go
Labels: enhancement, apps/reflect, apps/twitch-bot

#123 refactor!: update config field naming
  apps/reflect/prisma/schema.prisma
  apps/reflect/src/forms/TwitchBotForm.tsx
  apps/reflect/src/server/router/twitchbot.ts
  apps/reflect/src/types/index.ts
  apps/reflect/src/validation/twitchbotconfig.ts
  apps/twitch-bot/internal/backend/backend.go
  apps/twitch-bot/internal/backend/postgresql/postgresql.go
  apps/twitch-bot/internal/command/helpers/helpers.go
  apps/twitch-bot/internal/handler/privatemessage.go
  apps/twitch-bot/internal/models/models.go
  apps/twitch-bot/server/server.go
Labels: apps/reflect, apps/twitch-bot

#135 refactor(apps/twitch-bot): add CheckConfig function to check configurations by key and value.
  apps/twitch-bot/internal/command/helpers/helpers.go
  apps/twitch-bot/server/server.go
Labels: apps/twitch-bot

#139 fix(apps/reflect): update IBotActionActivity author field name
  apps/reflect/src/components/app/BotActivity.tsx
  apps/reflect/src/types/index.ts
Labels: apps/reflect

#138 refactor(apps/twitch-bot): command system
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/handler/privatemessage.go
  apps/twitch-bot/server/server.go
Labels: apps/twitch-bot

#140 feat(apps/reflect): AppDraw get bots section
  apps/reflect/src/components/app/AppDrawer.tsx
Labels: enhancement, apps/reflect

#141 refactor(apps/reflect): AppDrawer & AppDrawerButton
  apps/reflect/src/components/app/AppBar/buttons/DrawerButton.tsx
  apps/reflect/src/components/app/AppDrawer.tsx
Labels: apps/reflect

#129 email shown area refactor fix #126
  apps/reflect/src/forms/SecurityForm.tsx
Labels: apps/reflect

#128 configuration form refactor
  apps/reflect/src/components/tab/BotConfiguration/index.tsx
  apps/reflect/src/forms/TwitchBotForm.tsx
Labels: apps/reflect

#146 fix: rename config table key and value columns
  apps/reflect/prisma/schema.prisma
  apps/twitch-bot/internal/backend/postgresql/postgresql.go
  apps/twitch-bot/internal/models/models.go
Labels: apps/twitch-bot, prisma

#147 chore(apps/twitch-bot): update command usage info texts
  apps/twitch-bot/internal/command/addcommand.go
  apps/twitch-bot/internal/command/addcommandalias.go
  apps/twitch-bot/internal/command/deletecommand.go
  apps/twitch-bot/internal/command/deletecommandalias.go
  apps/twitch-bot/internal/command/updatecommand.go
Labels: apps/twitch-bot

#149 fix(apps/twitch-bot): add deletion of related alias commands
  apps/twitch-bot/internal/backend/postgresql/postgresql.go
Labels: apps/twitch-bot

#150 feat(apps/twitch-bot): add the creation of an alias command using the alias command
  apps/twitch-bot/internal/backend/postgresql/postgresql.go
  apps/twitch-bot/internal/command/addcommandalias.go
  apps/twitch-bot/server/server.go
Labels: enhancement, apps/twitch-bot

#151 feat(apps/twitch-bot): add update and delete command using the alias command
  apps/twitch-bot/internal/backend/backend.go
  apps/twitch-bot/internal/backend/postgresql/postgresql.go
  apps/twitch-bot/internal/command/deletecommand.go
  apps/twitch-bot/internal/command/updatecommand.go
  apps/twitch-bot/server/server.go
Labels: enhancement, apps/twitch-bot

#152 fix(apps/twitch-bot): add check to prevent the same name from being used when creating aliases
  apps/twitch-bot/internal/backend/postgresql/postgresql.go
Labels: bug, apps/twitch-bot

#153 fix(apps/twitch-bot): add MakeUniqueArray function to handle alias duplicates
  apps/twitch-bot/internal/command/addcommandalias.go
  apps/twitch-bot/internal/command/helpers/helpers.go
Labels: bug, apps/twitch-bot

#158 Tos checkbox
  apps/reflect/src/components/auth/AuthContainer.tsx
  apps/reflect/src/components/auth/AuthLoginButton.tsx
Labels: enhancement, apps/reflect

#160 refactor(apps/twitch-bot): crud commands
  apps/twitch-bot/internal/backend/backend.go
  apps/twitch-bot/internal/backend/postgresql/postgresql.go
  apps/twitch-bot/internal/command/addcommand.go
  apps/twitch-bot/internal/command/addcommandalias.go
  apps/twitch-bot/internal/command/deletecommand.go
  apps/twitch-bot/internal/command/deletecommandalias.go
  apps/twitch-bot/internal/command/helpers/helpers.go
  apps/twitch-bot/internal/command/updatecommand.go
  apps/twitch-bot/server/server.go
Labels: apps/twitch-bot

#161 exp.feat(apps/twitch-bot) add bot join webhook
  apps/reflect/src/env/schema.mjs
  apps/reflect/src/pages/api/twitch/get-bot.ts
  apps/reflect/src/server/router/twitchbot.ts
  apps/reflect/src/types/index.ts
  apps/reflect/src/utils/functions.ts
  apps/twitch-bot/cmd/main/main.go
  apps/twitch-bot/internal/handler/botjoin.go
  apps/twitch-bot/internal/handler/handler.go
  apps/twitch-bot/internal/models/models.go
Labels: enhancement, apps/twitch-bot

#168 fix(apps/reflect): save button state issue when switching options
  apps/reflect/src/forms/TwitchBotForm.tsx
Labels: enhancement, apps/reflect
