Repository senchabot-opensource/monorepo, pull requests merged in 2023-08, with the labels that each got.

#315 feat(apps/discord-bot): add discordserver adding, updating and deleting from db
  apps/discord-bot/cmd/main/main.go
  apps/discord-bot/internal/db/db.go
  apps/discord-bot/internal/models/models.go
  packages/senchabot-prisma/prisma/schema.prisma
Labels: enhancement, apps/discord-bot

#317 feat(apps/discord-bot): add invite command
  apps/discord-bot/internal/command/command.go
  apps/discord-bot/internal/command/invitecommand.go
Labels: apps/discord-bot

#212 feat(apps/twitch-bot): add initial version of cooldown feature
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/handler/privatemessage.go
Labels: enhancement, apps/twitch-bot, work in progress

#337 feat(apps/discord-bot): add custom command system
  apps/discord-bot/cmd/main/main.go
  apps/discord-bot/internal/command/addcmdcommand.go
  apps/discord-bot/internal/command/command.go
  apps/discord-bot/internal/command/deletecmdcommand.go
  apps/discord-bot/internal/command/updatecmdcommand.go
  apps/discord-bot/internal/db/db.go
  apps/discord-bot/internal/models/models.go
  apps/discord-bot/internal/service/command/command.go
Labels: work in progress

#341 feat(apps/twitch-bot): update cooldown system for users
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/handler/privatemessage.go
Labels: apps/twitch-bot

#347 feat(apps/twitch-bot): update cooldown period
  apps/twitch-bot/internal/handler/privatemessage.go
Labels: apps/twitch-bot

#354 feat(apps/twitch-bot): update command system
  apps/twitch-bot/internal/command/addcommand.go
  apps/twitch-bot/internal/command/addcommandalias.go
  apps/twitch-bot/internal/command/astra.go
  apps/twitch-bot/internal/command/cmds.go
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/command/deletecommand.go
  apps/twitch-bot/internal/command/deletecommandalias.go
  apps/twitch-bot/internal/command/frontendship.go
  apps/twitch-bot/internal/command/help.go
  apps/twitch-bot/internal/command/invite.go
  apps/twitch-bot/internal/command/kampus.go
  apps/twitch-bot/internal/command/ping.go
  apps/twitch-bot/internal/command/senchabot.go
  apps/twitch-bot/internal/command/sozluk.go
  apps/twitch-bot/internal/command/sukrucommand.go
  apps/twitch-bot/internal/command/updatecommand.go
  apps/twitch-bot/internal/handler/privatemessage.go
  apps/twitch-bot/internal/service/database/database.go
  apps/twitch-bot/internal/service/database/mysql/mysql.go
  apps/twitch-bot/internal/service/service.go
  packages/gosenchabot/models/models.go
  packages/senchabot-prisma/prisma/schema.prisma
Labels: enhancement, apps/twitch-bot, work in progress

#360 feat(apps/web): added logo in AuthContainer
  apps/web/README.md
  apps/web/src/components/app/AppBar/index.tsx
  apps/web/src/components/auth/AuthContainer.tsx
  apps/web/src/components/common/Logo.tsx
  apps/web/src/components/landing/LandingAppBar.tsx
Labels: apps/web

#362 feat(apps/web): update dark theme colors to the same as production
  apps/web/src/components/app/AccountMenu.tsx
  apps/web/src/components/app/AppBar/index.tsx
  apps/web/src/components/app/AppContainer.tsx
  apps/web/src/components/landing/LandingAppBar.tsx
  apps/web/src/components/landing/LandingContainer.tsx
  apps/web/src/components/landing/LandingFooter.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/app/settings.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/utils/landingTheme.ts
  apps/web/src/utils/theme.ts
Labels: apps/web

#365 refactor(apps/discord-bot): move twitch functions under the gosenchabot package
  apps/discord-bot/cmd/main/main.go
  apps/discord-bot/internal/command/command.go
  apps/discord-bot/internal/command/deletecommand.go
  apps/discord-bot/internal/command/setcommand.go
  apps/discord-bot/internal/helpers/helpers.go
  apps/discord-bot/internal/service/event/event.go
  apps/discord-bot/internal/service/streamer/streamer.go
  packages/gosenchabot/models/models.go
  packages/gosenchabot/service/twitch/twitch.go
Labels: apps/discord-bot, packages/gosenchabot

#368 feat(apps/twitch-bot): add so command
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/command/so.go
  packages/gosenchabot/service/twitch/twitch.go
Labels: enhancement, apps/twitch-bot
