Repository senchabot-opensource/monorepo, pull requests merged in 2023-07, with the labels that each got.

#258 Twitch bot deployment
  .dockerignore
  .github/workflows/twitch-bot-deploy.yml
  apps/twitch-bot/Dockerfile
  apps/twitch-bot/cmd/main/main.go
  apps/twitch-bot/fly.toml
  go.mod
  go.sum
Labels: apps/twitch-bot

#263 fix(apps/twitch-bot): update db driver to MySQL (#261)
  apps/twitch-bot/internal/service/database/postgresql/postgresql.go
  go.mod
  go.sum
Labels: apps/twitch-bot

#268 feat(apps/twitch-bot): add sozluk command
  apps/twitch-bot/config/config.go
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/command/helpers/helpers.go
  apps/twitch-bot/internal/command/sozluk.go
Labels: apps/twitch-bot

#230 feat(apps/twitch-bot): add TestParseMessage function
  apps/twitch-bot/internal/command/helpers/helpers.go
  apps/twitch-bot/internal/command/helpers/helpers_test.go
Labels: apps/twitch-bot, test

#274 refactor(apps/twitch-bot): rename the PostgreSQL package to MySQL
  apps/twitch-bot/internal/service/database/mysql/mysql.go
  apps/twitch-bot/internal/service/service.go
Labels: apps/twitch-bot

#281 fix(apps/discord-bot): update command default member permissions
  apps/discord-bot/cmd/main/main.go
Labels: apps/discord-bot

#283 refactor(apps/discord-bot): add command package and move commands to separate files
  apps/discord-bot/cmd/main/main.go
  apps/discord-bot/internal/command/command.go
  apps/discord-bot/internal/command/deletecommand.go
  apps/discord-bot/internal/command/purgecommand.go
  apps/discord-bot/internal/command/setcommand.go
Labels: apps/discord-bot

#231 feat(apps/twitch-bot): add customapi string template and parsing
  apps/twitch-bot/internal/command/helpers/helpers.go
Labels: enhancement, apps/twitch-bot

#287 feat(apps/twitch-bot): remove duplicate helper function
  apps/twitch-bot/internal/command/deletecommand.go
  apps/twitch-bot/internal/command/deletecommandalias.go
  apps/twitch-bot/internal/command/helpers/helpers.go
Labels: apps/twitch-bot

#286 refactor(apps/twitch-bot): update CanExecuteCommand function params
  apps/twitch-bot/internal/command/addcommand.go
  apps/twitch-bot/internal/command/addcommandalias.go
  apps/twitch-bot/internal/command/deletecommand.go
  apps/twitch-bot/internal/command/deletecommandalias.go
  apps/twitch-bot/internal/command/helpers/helpers.go
  apps/twitch-bot/internal/command/updatecommand.go
Labels: apps/twitch-bot

#285 refactor(apps/twitch-bot): rename receiver variable name
  apps/twitch-bot/internal/service/database/mysql/mysql.go
Labels: apps/twitch-bot

#288 feat(apps/discord-bot): add reaction to good morning messages
  apps/discord-bot/cmd/main/main.go
Labels: apps/discord-bot

#290 refactor(apps/discord-bot): update command names, descriptions and strings templates
  apps/discord-bot/internal/command/command.go
  apps/discord-bot/internal/command/deletecommand.go
  apps/discord-bot/internal/command/setcommand.go
  apps/discord-bot/internal/helpers/helpers.go
  apps/discord-bot/internal/service/event/event.go
Labels: apps/discord-bot

#291 feat(apps/discord-bot): add interaction activity logging
  apps/discord-bot/cmd/main/main.go
  apps/discord-bot/internal/db/db.go
  apps/discord-bot/internal/models/models.go
Labels: apps/discord-bot

#292 feat(apps/discord-bot): add `delete stream-anno-custom-content` command
  apps/discord-bot/internal/command/command.go
  apps/discord-bot/internal/command/deletecommand.go
Labels: enhancement, apps/discord-bot

#257 update(apps/reflect): use NextApi instead of tRPC
  apps/reflect/package.json
  apps/reflect/src/api/index.ts
  apps/reflect/src/components/app/AppBar/buttons/GetTwitchBotButton.tsx
  apps/reflect/src/components/app/AppDrawer.tsx
  apps/reflect/src/components/app/BotActivity.tsx
  apps/reflect/src/components/app/CommandList.tsx
  apps/reflect/src/components/app/SystemMessage.tsx
  apps/reflect/src/components/auth/LinkAccount.tsx
  apps/reflect/src/components/button/DeleteAccount.tsx
  apps/reflect/src/components/landing/LandingTexts.tsx
  apps/reflect/src/forms/SecurityForm.tsx
  apps/reflect/src/forms/TwitchBotForm.tsx
  apps/reflect/src/pages/_app.tsx
  apps/reflect/src/pages/api/bot/activity.ts
  apps/reflect/src/pages/api/cmd/aliasList.ts
  apps/reflect/src/pages/api/cmd/delete.ts
  apps/reflect/src/pages/api/cmd/list.ts
  apps/reflect/src/pages/api/config/getAllConfig.ts
  apps/reflect/src/pages/api/config/getConfig.ts
  apps/reflect/src/pages/api/config/setConfig.ts
  apps/reflect/src/pages/api/deleteAccount.ts
  apps/reflect/src/pages/api/discord/getCount.ts
  apps/reflect/src/pages/api/discord/getServerList.ts
  apps/reflect/src/pages/api/getAccount.ts
  apps/reflect/src/pages/api/trpc/[trpc].ts
  apps/reflect/src/pages/api/twitch/findAccount.ts
  apps/reflect/src/pages/api/twitch/get-bot.ts
  apps/reflect/src/pages/api/twitch/getChannelList.ts
  apps/reflect/src/pages/api/twitch/getCount.ts
  apps/reflect/src/pages/credits.tsx
  apps/reflect/src/server/router/botactivities.ts
  apps/reflect/src/server/router/check.ts
  apps/reflect/src/server/router/command.ts
  apps/reflect/src/server/router/context.ts
  apps/reflect/src/server/router/example.ts
  apps/reflect/src/server/router/index.ts
  apps/reflect/src/server/router/protected-router.ts
  apps/reflect/src/server/router/security.ts
  apps/reflect/src/server/router/twitchbot.ts
  apps/reflect/src/server/trpc.ts
  apps/reflect/src/types/index.ts
  apps/reflect/src/types/response.ts
  apps/reflect/src/utils/trpc.ts
  package-lock.json
Labels: apps/reflect

#252 feat(apps/reflect): dark-light mode added
  apps/reflect/src/Context/ColorModeContext.tsx
  apps/reflect/src/components/LibraryText.tsx
  apps/reflect/src/components/app/AccountMenu.tsx
  apps/reflect/src/components/app/AppBar/index.tsx
  apps/reflect/src/components/app/AppContainer.tsx
  apps/reflect/src/components/app/AppDrawer.tsx
  apps/reflect/src/components/app/BotActivity.tsx
  apps/reflect/src/components/app/Breadcrumb.tsx
  apps/reflect/src/components/app/CommandList.tsx
  apps/reflect/src/components/app/SystemMessage.tsx
  apps/reflect/src/components/auth/AuthContainer.tsx
  apps/reflect/src/components/auth/AuthDialog.tsx
  apps/reflect/src/components/auth/AuthLoginButton.tsx
  apps/reflect/src/components/button/DeleteAccount.tsx
  apps/reflect/src/components/landing/LandingAppBar.tsx
  apps/reflect/src/components/landing/LandingButton.tsx
  apps/reflect/src/components/landing/LandingContainer.tsx
  apps/reflect/src/components/landing/LandingFooter.tsx
  apps/reflect/src/components/landing/LandingTexts.tsx
  apps/reflect/src/pages/_app.tsx
  apps/reflect/src/pages/app/settings.tsx
  apps/reflect/src/pages/index.tsx
  apps/reflect/src/styles/index.ts
  apps/reflect/src/utils/theme.ts
Labels: enhancement, apps/reflect

#298 fix(apps/discord-bot): update streamer announcement system functionality
  apps/discord-bot/cmd/main/main.go
  apps/discord-bot/internal/db/db.go
  apps/discord-bot/internal/helpers/helpers.go
  apps/discord-bot/internal/service/event/event.go
  apps/discord-bot/internal/service/streamer/streamer.go
Labels: apps/discord-bot

#301 feat(apps/discord-bot): update activity log content template
  apps/discord-bot/cmd/main/main.go
Labels: apps/discord-bot

#300 chore(apps/discord-bot): delete unused log lines and fix an error log string
  apps/discord-bot/internal/command/command.go
  apps/discord-bot/internal/db/db.go
  apps/discord-bot/internal/helpers/helpers.go
Labels: apps/discord-bot

#299 feat(apps/discord-bot): update purge and set & delete command permissions
  apps/discord-bot/internal/command/command.go
Labels: apps/discord-bot

#302 refactor: add common commands package and move sozluk command
  apps/discord-bot/cmd/main/main.go
  apps/discord-bot/internal/helpers/helpers.go
  apps/twitch-bot/internal/command/sozluk.go
  packages/common/commands/sozluk.go
  packages/common/helpers/helpers.go
Labels: apps/discord-bot, apps/twitch-bot

#303 feat(apps/twitch-bot): add params to command activity log content
  apps/twitch-bot/internal/command/command.go
Labels: apps/twitch-bot

#304 feat: add user id field to activity logs
  apps/discord-bot/cmd/main/main.go
  apps/discord-bot/internal/db/db.go
  apps/discord-bot/internal/models/models.go
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/models/models.go
  apps/twitch-bot/internal/service/database/database.go
  apps/twitch-bot/internal/service/database/mysql/mysql.go
  apps/twitch-bot/internal/service/service.go
  packages/senchabot-prisma/prisma/schema.prisma
Labels: apps/discord-bot, apps/twitch-bot

#305 feat(apps/discord-bot): add description localications to command metadatas
  apps/discord-bot/internal/command/command.go
Labels: apps/discord-bot

#306 feat(apps/discord-bot): add & update files for deployment
  .github/workflows/discord-bot-deploy.yml
  apps/discord-bot/Dockerfile
  apps/discord-bot/cmd/main/main.go
  apps/discord-bot/fly.toml
Labels: apps/discord-bot

#309 fix(apps/discord-bot): add announcement channel type for channel listing
  apps/discord-bot/internal/command/command.go
Labels: apps/discord-bot
