Repository senchabot-opensource/monorepo, pull requests merged in 2023-06, with the labels that each got.

#163 refactor(apps/twitch-bot): refactor file structure
  apps/twitch-bot/cmd/main/main.go
  apps/twitch-bot/internal/command/addcommand.go
  apps/twitch-bot/internal/command/addcommandalias.go
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/command/deletecommand.go
  apps/twitch-bot/internal/command/deletecommandalias.go
  apps/twitch-bot/internal/command/frontendship.go
  apps/twitch-bot/internal/command/helpers/helpers.go
  apps/twitch-bot/internal/command/invite.go
  apps/twitch-bot/internal/command/kampus.go
  apps/twitch-bot/internal/command/ping.go
  apps/twitch-bot/internal/command/senchabot.go
  apps/twitch-bot/internal/command/sukrucommand.go
  apps/twitch-bot/internal/command/updatecommand.go
  apps/twitch-bot/internal/db/db.go
  apps/twitch-bot/internal/handler/botjoin.go
  apps/twitch-bot/internal/handler/handler.go
  apps/twitch-bot/internal/handler/privatemessage.go
  apps/twitch-bot/internal/service/database/database.go
  apps/twitch-bot/internal/service/database/postgresql/postgresql.go
  apps/twitch-bot/internal/service/service.go
  apps/twitch-bot/internal/service/webhook/botjoin.go
  apps/twitch-bot/internal/service/webhook/webhook.go
  apps/twitch-bot/server/server.go
Labels: apps/twitch-bot

#171 feat(apps/discord-bot): add reaction to good morning messages
  apps/discord-bot/config.ts
  apps/discord-bot/events/messageReactionAdd.ts
  apps/discord-bot/utils/reactionHelpers.ts
Labels: enhancement, apps/discord-bot

#175 feat(apps/discord-bot): add check for scheduled event creator
  apps/discord-bot/utils/scheduledEventFunctions.ts
Labels: apps/discord-bot

#177 fix(apps/reflect): Settings page Text truncation
  apps/reflect/src/forms/TwitchBotForm.tsx
Labels: apps/reflect

#182 feat(apps/reflect): command list search
  apps/reflect/src/components/app/CommandList.tsx
Labels: apps/reflect

#180 refactor(apps/twitch-bot): create Services interface and add service abstraction
  apps/twitch-bot/internal/command/addcommand.go
  apps/twitch-bot/internal/command/addcommandalias.go
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/command/deletecommand.go
  apps/twitch-bot/internal/command/deletecommandalias.go
  apps/twitch-bot/internal/command/helpers/helpers.go
  apps/twitch-bot/internal/command/invite.go
  apps/twitch-bot/internal/command/updatecommand.go
  apps/twitch-bot/internal/handler/botjoin.go
  apps/twitch-bot/internal/handler/handler.go
  apps/twitch-bot/internal/handler/privatemessage.go
  apps/twitch-bot/internal/service/service.go
Labels: apps/twitch-bot

#183 feat(apps/twitch-bot): add cmds command
  apps/twitch-bot/internal/command/cmds.go
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/service/database/database.go
  apps/twitch-bot/internal/service/database/postgresql/postgresql.go
  apps/twitch-bot/internal/service/service.go
Labels: enhancement, apps/twitch-bot

#181 feat(apps/twitch-bot): add help command
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/command/help.go
Labels: enhancement, apps/twitch-bot

#179 feat(apps/twitch-bot): add TestMakeUniqueArray function
  apps/twitch-bot/internal/command/helpers/helpers_test.go
Labels: apps/twitch-bot

#186 feat(apps/twitch-bot): add testify module and use in TestMakeUniqueArray
  apps/twitch-bot/go.mod
  apps/twitch-bot/go.sum
  apps/twitch-bot/internal/command/helpers/helpers_test.go
Labels: apps/twitch-bot

#187 refactor(apps/twitch-bot): move SplitMessage and static command system
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/command/helpers/helpers.go
  apps/twitch-bot/internal/handler/privatemessage.go
Labels: apps/twitch-bot

#188 refactor(apps/twitch-bot): use the same context in command functions
  apps/twitch-bot/internal/command/addcommand.go
  apps/twitch-bot/internal/command/addcommandalias.go
  apps/twitch-bot/internal/command/astra.go
  apps/twitch-bot/internal/command/cmds.go
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/command/deletecommand.go
  apps/twitch-bot/internal/command/deletecommandalias.go
  apps/twitch-bot/internal/command/frontendship.go
  apps/twitch-bot/internal/command/help.go
  apps/twitch-bot/internal/command/invite.go
  apps/twitch-bot/internal/command/kampus.go
  apps/twitch-bot/internal/command/ping.go
  apps/twitch-bot/internal/command/senchabot.go
  apps/twitch-bot/internal/command/sukrucommand.go
  apps/twitch-bot/internal/command/updatecommand.go
  apps/twitch-bot/internal/handler/privatemessage.go
Labels: apps/twitch-bot

#189 refactor(apps/twitch-bot): add RunStaticCommand func and rename RunCommand to RunDynamicCommand
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/handler/privatemessage.go
Labels: apps/twitch-bot

#190 refactor(apps/twitch-bot): rename the variable name of the receiver type of *handlers, *commands and *PostgreSQL
  apps/twitch-bot/internal/command/addcommand.go
  apps/twitch-bot/internal/command/addcommandalias.go
  apps/twitch-bot/internal/command/astra.go
  apps/twitch-bot/internal/command/cmds.go
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/command/deletecommand.go
  apps/twitch-bot/internal/command/deletecommandalias.go
  apps/twitch-bot/internal/command/frontendship.go
  apps/twitch-bot/internal/command/help.go
  apps/twitch-bot/internal/command/invite.go
  apps/twitch-bot/internal/command/kampus.go
  apps/twitch-bot/internal/command/ping.go
  apps/twitch-bot/internal/command/senchabot.go
  apps/twitch-bot/internal/command/sukrucommand.go
  apps/twitch-bot/internal/command/updatecommand.go
  apps/twitch-bot/internal/handler/handler.go
  apps/twitch-bot/internal/service/database/postgresql/postgresql.go
Labels: apps/twitch-bot

#198 docs(apps/twitch-bot, apps/discord-bot): Senchabot Usage Manual / Command Documentations (EN and TR)
  apps/discord-bot/documentation/README.md
  apps/discord-bot/documentation/TR/README.md
  apps/twitch-bot/documentation/README.md
  apps/twitch-bot/documentation/TR/README.md
Labels: documentation, apps/discord-bot, apps/twitch-bot

#199 feat(apps/twitch-bot) add {channel.name} string template
  apps/reflect/src/pages/api/features.ts
  apps/twitch-bot/internal/command/helpers/helpers.go
Labels: apps/twitch-bot

#201 fix(apps/reflect): `Save` button is not enabled when changing Twitch bot config
  apps/reflect/src/forms/TwitchBotForm.tsx
Labels: apps/reflect

#184 feat(apps/twitch-bot): add TrimExclamationPrefix function
  apps/twitch-bot/internal/command/deletecommand.go
  apps/twitch-bot/internal/command/deletecommandalias.go
  apps/twitch-bot/internal/command/helpers/helpers.go
Labels: apps/twitch-bot

#215 chore(apps/reflect): update feature list
  apps/reflect/src/pages/api/features.ts
Labels: apps/reflect

#229 fix(apps/twitch-bot): add params length check to first word is a @mention check
  apps/twitch-bot/internal/command/helpers/helpers.go
Labels: bug, apps/twitch-bot

#237 feat(apps/discord-bot): add create/delete discord server in database
  apps/discord-bot/events/guildCreate.ts
  apps/discord-bot/events/guildDelete.ts
  apps/discord-bot/events/ready.ts
  apps/discord-bot/package.json
  apps/discord-bot/utils/dbFunctions.ts
  pnpm-lock.yaml
Labels: enhancement, apps/discord-bot

#239 refactor(apps/discord-bot): add db folder and client.ts file
  apps/discord-bot/db/client.ts
  apps/discord-bot/db/functions.ts
  apps/discord-bot/events/guildCreate.ts
  apps/discord-bot/events/guildDelete.ts
  apps/discord-bot/events/ready.ts
Labels: apps/discord-bot

#240 feat(apps/discord-bot): add embed url check and use if there is embed…
  apps/discord-bot/utils/scheduledEventFunctions.ts
Labels: enhancement, apps/discord-bot

#238 fix(apps/twitch-bot): add a temporary fix to the character length of …
  apps/twitch-bot/internal/command/cmds.go
Labels: bug, apps/twitch-bot

#241 refactor(apps/reflect): add client and update db paths
  apps/reflect/src/pages/api/auth/[...nextauth].ts
  apps/reflect/src/pages/api/twitch/get-bot.ts
  apps/reflect/src/server/db/client.ts
  apps/reflect/src/server/router/context.ts
Labels: apps/reflect

#248 feat(apps/discord-bot): add bot activity for interactions
  apps/discord-bot/db/functions.ts
  apps/discord-bot/events/interactionCreate.ts
Labels: apps/discord-bot

#249 feat(apps/discord-bot): add announcement channel adding to db
  apps/discord-bot/commands/event.ts
  apps/discord-bot/config.ts
  apps/discord-bot/db/functions.ts
  apps/discord-bot/index.ts
  apps/discord-bot/utils/scheduledEventFunctions.ts
  packages/senchabot-prisma/prisma/schema.prisma
Labels: enhancement, apps/discord-bot
