Repository senchabot-opensource/monorepo, pull requests merged in 2023-04, with the labels that each got.

#24 fix: width of `ListItemText` in `AuthContainer`
  apps/reflect/src/components/auth/AuthContainer.tsx
Labels: reflect

#25 update: in the settings page security tab 'show/hide' button
  apps/reflect/src/forms/SecurityForm.tsx
Labels: reflect

#26 fix(apps/reflect): email varible in security form is undefined
  apps/reflect/src/forms/SecurityForm.tsx
Labels: reflect

#28 refactor(apps/reflect): Add LinkAccountStack component
  apps/reflect/src/components/auth/LinkAccount.tsx
  apps/reflect/src/forms/SecurityForm.tsx
Labels: reflect

#31 Twitch bot activity feature
  apps/twitch-bot/cmd/main/main.go
  apps/twitch-bot/internal/backend/backend.go
  apps/twitch-bot/internal/backend/mysql/mysql.go
  apps/twitch-bot/internal/handler/privatemessage.go
  apps/twitch-bot/internal/models/models.go
  apps/twitch-bot/server/server.go
Labels: twitch/bot

#32 feat(apps/reflect): Disable user's login provider button
  apps/reflect/src/components/auth/LinkAccount.tsx
Labels: reflect

#33 feat(apps/reflect): add update Twitch channel table with a user
  apps/reflect/src/server/router/bot.ts
Labels: reflect

#35 Remove non functional components
  apps/reflect/src/components/app/AppBar/index.tsx
  apps/reflect/src/components/tab/BotManagement/index.tsx
  apps/reflect/src/components/tab/SettingTopTab.tsx
  apps/reflect/src/forms/SenchaDisplayForm.tsx
  apps/reflect/src/forms/TwitchDisplayForm.tsx
  apps/reflect/src/pages/app/settings.tsx
Labels: reflect

#36 chore(apps/reflect): remove unused trpc routes
  apps/reflect/src/server/router/index.ts
  apps/reflect/src/server/router/sencha.ts
  apps/reflect/src/server/router/theme.ts
  apps/reflect/src/server/router/twitch.ts
Labels: reflect

#37 Rename tRPC bot procedures
  apps/reflect/src/components/app/BotActivity.tsx
  apps/reflect/src/components/app/SystemMessage.tsx
  apps/reflect/src/server/router/botactivities.ts
  apps/reflect/src/server/router/index.ts
  apps/reflect/src/server/router/twitchbot.ts
Labels: reflect

#38 feat: Twitch bot configs
  apps/reflect/prisma/schema.prisma
  apps/reflect/src/components/tab/BotManagement/index.tsx
  apps/reflect/src/forms/TwitchBotForm.tsx
  apps/reflect/src/server/router/twitchbot.ts
  apps/reflect/src/validation/twitchbotconfig.ts
  apps/twitch-bot/internal/backend/backend.go
  apps/twitch-bot/internal/backend/mysql/mysql.go
  apps/twitch-bot/internal/handler/privatemessage.go
  apps/twitch-bot/internal/models/models.go
  apps/twitch-bot/server/server.go
Labels: reflect, twitch/bot

#39 chore(apps/reflect): remove GitHub auth
  apps/reflect/src/components/auth/AuthContainer.tsx
  apps/reflect/src/components/auth/LinkAccount.tsx
Labels: reflect

#41 fix(apps/reflect): prisma not found issue in Twitch bot tRPC getConfig procedure
  apps/reflect/src/server/router/twitchbot.ts
Labels: reflect

#43 Update botcommands table and channel add procedure
  apps/reflect/prisma/schema.prisma
  apps/reflect/src/server/router/twitchbot.ts
Labels: reflect

#42 BREAKING CHANGE: change twitch_channels table id type
  apps/reflect/prisma/schema.prisma
  apps/twitch-bot/internal/backend/mysql/mysql.go
  apps/twitch-bot/internal/models/models.go
Labels: reflect, twitch/bot

#54 update: landingpage
  apps/reflect/src/api/index.ts
  apps/reflect/src/components/landing/LandingTexts.tsx
  apps/reflect/src/pages/api/cmd/index.ts
  apps/reflect/src/pages/api/features.ts
  apps/reflect/src/pages/api/twitch/get-bot.ts
  package-lock.json
Labels: reflect

#58 feat(apps/reflect): add features list to landing page
  apps/reflect/src/api/index.ts
  apps/reflect/src/components/landing/LandingTexts.tsx
Labels: reflect

#63 Update favicon
  apps/reflect/public/favicon.png
Labels: reflect

#50 Fixed Landingpage Footer's pre-alpha v0.1 text not updating in other footers #47
  apps/reflect/src/components/app/AppContainer.tsx
  apps/reflect/src/components/landing/LandingFooter.tsx
  apps/reflect/src/pages/cookie-policy.tsx
  apps/reflect/src/pages/credits.tsx
  apps/reflect/src/pages/eula.tsx
  apps/reflect/src/pages/index.tsx
  apps/reflect/src/pages/privacy-policy.tsx
  apps/reflect/src/pages/terms.tsx
Labels: reflect

#65 fix(apps/reflect): update appbar link #51
  apps/reflect/src/components/app/AppBar/index.tsx
Labels: reflect

#66 Refactor components - Patch 1
  apps/reflect/src/components/app/AppBar/index.tsx
  apps/reflect/src/components/app/AppContainer.tsx
  apps/reflect/src/components/app/index.tsx
  apps/reflect/src/components/common/Header.tsx
  apps/reflect/src/components/common/VersionText.tsx
  apps/reflect/src/components/landing/LandingContainer.tsx
  apps/reflect/src/env/schema.mjs
  apps/reflect/src/pages/app/index.tsx
  apps/reflect/src/pages/app/settings.tsx
  apps/reflect/src/pages/auth/signin.tsx
  apps/reflect/src/pages/cookie-policy.tsx
  apps/reflect/src/pages/credits.tsx
  apps/reflect/src/pages/eula.tsx
  apps/reflect/src/pages/index.tsx
  apps/reflect/src/pages/privacy-policy.tsx
  apps/reflect/src/pages/terms.tsx
  apps/reflect/src/types/index.ts
Labels: reflect

#71 Update env.example
  apps/reflect/env.example
Labels: reflect

#62 feat: sukru the command
  apps/discord-bot/commands/sukru.ts
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/command/sukrucommand.go
Labels: enhancement, apps/twitch-bot

#80 fix: Reflect readme
  apps/reflect/README.md
Labels: documentation, apps/reflect

#81 feat: add command author info to bot activites
  apps/reflect/prisma/schema.prisma
  apps/reflect/src/components/app/BotActivity.tsx
  apps/reflect/src/types/index.ts
  apps/twitch-bot/internal/backend/backend.go
  apps/twitch-bot/internal/backend/mysql/mysql.go
  apps/twitch-bot/internal/handler/privatemessage.go
  apps/twitch-bot/internal/models/models.go
  apps/twitch-bot/server/server.go
Labels: apps/reflect, apps/twitch-bot

#83 feat: add created/updated by data to bot commands
  apps/reflect/prisma/schema.prisma
  apps/twitch-bot/internal/backend/backend.go
  apps/twitch-bot/internal/backend/mysql/mysql.go
  apps/twitch-bot/internal/command/addcommand.go
  apps/twitch-bot/internal/command/invite.go
  apps/twitch-bot/internal/command/updatecommand.go
  apps/twitch-bot/internal/models/models.go
  apps/twitch-bot/server/server.go
Labels: enhancement, apps/twitch-bot

#82 refactor(apps/twitch-bot): update FormatCommandContent function
  apps/reflect/src/pages/api/features.ts
  apps/twitch-bot/internal/command/helpers/helpers.go
Labels: apps/twitch-bot

#84 feat(apps/twitch-bot) add command alias create & delete
  apps/reflect/prisma/schema.prisma
  apps/twitch-bot/internal/backend/backend.go
  apps/twitch-bot/internal/backend/mysql/mysql.go
  apps/twitch-bot/internal/command/addcommand.go
  apps/twitch-bot/internal/command/addcommandalias.go
  apps/twitch-bot/internal/command/command.go
  apps/twitch-bot/internal/command/deletecommand.go
  apps/twitch-bot/internal/command/deletecommandalias.go
  apps/twitch-bot/internal/command/helpers/helpers.go
  apps/twitch-bot/internal/command/updatecommand.go
  apps/twitch-bot/internal/handler/privatemessage.go
  apps/twitch-bot/internal/models/models.go
  apps/twitch-bot/server/server.go
Labels: enhancement, apps/twitch-bot
